@font-face {
    font-family: "Oxanium", cursive;
    src: url("../fonts/Oxanium/Oxanium-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../fonts/Poppins/Poppins-Black.ttf"),
         url("../fonts/Poppins/Poppins-BlackItalic.ttf"),
         url("../fonts/Poppins/Poppins-Bold.ttf"),
         url("../fonts/Poppins/Poppins-BoldItalic.ttf"),
         url("../fonts/Poppins/Poppins-ExtraBold.ttf"),
         url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf"),
         url("../fonts/Poppins/Poppins-ExtraLight.ttf"),
         url("../fonts/Poppins/Poppins-Italic.ttf"),
         url("../fonts/Poppins/Poppins-LightItalic.ttf"),
         url("../fonts/Poppins/Poppins-Medium.ttf"),
         url("../fonts/Poppins/Poppins-MediumItalic.ttf"),
         url("../fonts/Poppins/Poppins-Regular.ttf"),
         url("../fonts/Poppins/Poppins-SemiBold.ttf"),
         url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf"),
         url("../fonts/Poppins/Poppins-Thin.ttf"),
         url("../fonts/Poppins/Poppins-ThinItalic.ttf");
}

h1 {
    font-size: 4.5rem !important;
    font-weight: 600 !important;
}
h2 {
    font-size: 2.375rem !important;
    font-weight: 700 !important;
}
h3 {
    font-size: 2.25rem !important;
    font-weight: 700 !important;
}
h4 {
    font-size: 2.125rem !important;
    font-weight: 500 !important;
}
h5 {
    font-size: 1rem !important;
    font-weight: normal !important;
}
h6 {
    font-size: 0.875rem !important;
    font-weight: normal !important;
}
p {
    font-size: 0.875rem !important;
    font-weight: normal !important;
}
a {
    font-size: 0.9375rem !important;
    font-weight: 500 !important;
}