@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

/* =====preset===== */
* {box-sizing: border-box;}
ul, ol, li, p {
    list-style: none;
    padding: 0;
}
ul, ol, li, p, h1, h2, h3, h4, h5, h6 {margin: 0;}
html {font-size: 16px;}
body {
    background-color: #1A1A1A;
    font-family: 'Oxanium', cursive;
    letter-spacing: 0.5px;
    line-height: 26px;
}
a {text-decoration: none; font-weight: 500;}
body, a, i {
    font-size: 1rem;
    color: var(--bs-primary-text);
}
/* =====custom===== */
.no-outline {
    outline: 0;
}
.no-border {
    border: 0;
}

/* =====styles==== */
header #top {
    font-weight: 400;
    line-height: initial;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
header #top #left, header #top #right {
    width: 41.6%;
    position: relative;
    background-color: #FFB303;
}
header #top #left {
    padding: 9.5px 0;
    padding-inline-start: 3rem;
}
header #top #right {
    padding: 9.5px 0;
    padding-inline-end: 3rem;
}
header #top #right::after, header #top #left::after {
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 45px;
    content: '';
    position: absolute;
    background-color: #FFB303;
}
header #top #right::after {
    left: -26px;
    transform: skewX(40deg) translate(10%);   
}
header #top #left::after {
    right: -26px;
    transform: skewX(-40deg) translate(-10%);
}
header #top #right .dropdown {
    float: right;
    padding-inline-start: 1rem;
    margin-inline-start: 1rem;
}
header #top #right .dropdown::after {
    content: '';
    position: absolute;
    inset: 0 auto 0 0;
    width: 1px;
    height: 1rem;
    margin: auto;
    background-color: #88620A;
}
header #top #right .dropdown:last-child::after {
    display: none;
}
header #top #right .dropdown button {
    padding: 0;
}


header #main p,
header #main a,
header #main i {
    color: var(--bs-secondary-text);
}
header #main {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
header #menu > button {
    background-image: url("../img/menu.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    margin-inline-end: 1rem;
    margin-block: 2rem;
}
header #menu {
    text-align: center;
}
header #main_menu, #menu > button {
    display: inline-block;
    height: 100%;
}
header #main_menu > li {
    display: inline-block;
    margin-inline-end: 2rem;
}
header #logo {
    position: absolute;
    margin: 0 auto;
    left: 25%;
    right: 25%;
    top: -24px;
}

/* =====media queries=====*/




