$body-bg: rgb(26, 26, 26);
$primary: rgb(255, 179, 3);
$secondary: rgb(26, 26, 26);
$primary-text: rgb(0, 0, 0);
$secondary-text: rgb(255, 255, 255);

@import "../node_modules/bootstrap/scss/bootstrap";